<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{action}} un évènement</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="eventForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field fxFlex>
                    <mat-label>NatureAction</mat-label>
                    <mat-select formControlName="natureAction" >
                        <mat-option *ngFor="let item of natureActionList" [value]="item.id" [disabled]="!isAdd()">
                            {{item.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        
            <div fxLayout="row wrap">

                <mat-form-field fxFlex>
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choisissez une date"
                        [value]="dateValue" formControlName="date" [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker class="custom-date-picker" #picker [showSpinners]="true"
                        [showSeconds]="false" [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="true"
                        [color]="color" [enableMeridian]="true" [disableMinute]="false" [hideTime]="false">
                    </ngx-mat-datetime-picker>
                </mat-form-field>
            </div>
            
            <!--integration de sous formulaire en fonction de type -->
            <app-consultation *ngIf="isNatureActionValue(2)"
                [parentForm]="eventForm" ></app-consultation>
            <app-analyse *ngIf="isNatureActionValue(1)" [parentForm]="eventForm"></app-analyse>
            <app-traitement *ngIf="isNatureActionValue(3)"
                [parentForm]="eventForm"></app-traitement>

        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(eventForm.valid && eventForm.dirty)">
        <mat-icon>save</mat-icon>{{action}}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>Fermer
    </button>
</mat-dialog-actions>