
  
  /* Apply styles to the date picker toggle button */
  .mat-datepicker-toggle-button {
    color: black!important;
  }
  :host ::ng-deep .mat-form-field-wrapper {
    width: 150px !important;
    height: 36px !important;
  }

  /* file css */
  .file-input {
    display: none;
  }
  .mat-calendar-table {
    background-color: white;
  }
