* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  .content-outer-container{
    min-height:100% ;
    width: 100%;

  }
  .content-inner-container{
    padding-bottom: 36px;
    position: relative;
    width: 100% !important;
    height: auto;
    min-height: 90%;

  }
 
  
  
  .footer {
    width: 100%;
    position: relative;
    bottom: 0;
    height: 50px; /* Hauteur du footer */
    background-color: #3a76ad;
    text-align: center;
    color: white;
    line-height: 50px; /* Centrage vertical du texte */
  }
  
 
  
  .mat-icon {
    vertical-align: middle;
  }
  .basic-container {
    padding: 50px; 
  
  }
  mat-list-item a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-size: 1.25em;
    cursor: pointer;
  } 
  /* here's what you're looking for B-) */
  mat-nav-list .list-horizontal {
    padding: 0;
  }
  .list-horizontal mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
  mat-toolbar{
    background-color: #3a76ad  }

 .iconeProfilHome{
  position: absolute;
  right: 15px;
  top:5px
 }
 @media screen and (max-width: 768px) {
  .list-horizontal mat-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
  mat-toolbar{
    background-color: #3a76ad ;
    height: 200px!important;
   }
   .content-inner-container{
    position: relative;
    margin-top: 20px;
   }
 }
